.cart-container {
  cursor: pointer;
  position: relative;
  width: 58px;
  box-sizing: border-box;
  padding-left: 25px;
  img {
    width: 30px;
  }

  .cart-count {
    position: absolute;
    top: 16px;
    right: -5px;
    background-color: black;
    color: white;
    width: 20px; /* Equal width and height for a perfect circle */
    height: 20px; /* Equal width and height for a perfect circle */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-bottom: 1.5px;
    padding-left: 1px;
    padding-right: 1px;
  }
}
